$white: #fff;
$black: #000;
$gray: #999;


$color-pink: #D70F64;
$color-gray-1: #1F4D5D;
$color-gray-2: #8AA7B3;
$color-gray-3: #9CB4BF;
$color-gray-4: #D4DFE6;

$color-section-bg: #EEF2F5;


// responsive
$mobile-plr: 30px;
$mobile-ptb: 100px
