- 
    var carousel_data = [
        {
            title: "Here's $20 credit...",
            desc: "when you make 2x foodpanda orders in one day. It’s that easy. Order foodpanda 2x today and we’ll drop $20 into your wallet straight away.<br> What are you waiting for?",
            img: "img/photo3.jpg"
        },
        {
            title: "Here's $20 credit...",
            desc: "when you make 2x foodpanda orders in one day. It’s that easy. Order foodpanda 2x today and we’ll drop $20 into your wallet straight away.<br> What are you waiting for?",
            img: "img/photo3.jpg"
        },
        {
            title: "Here's $20 credit...",
            desc: "when you make 2x foodpanda orders in one day. It’s that easy. Order foodpanda 2x today and we’ll drop $20 into your wallet straight away.<br> What are you waiting for?",
            img: "img/photo3.jpg"
        },
        {
            title: "Here's $20 credit...",
            desc: "when you make 2x foodpanda orders in one day. It’s that easy. Order foodpanda 2x today and we’ll drop $20 into your wallet straight away.<br> What are you waiting for?",
            img: "img/photo3.jpg"
        },
        {
            title: "Here's $20 credit...",
            desc: "when you make 2x foodpanda orders in one day. It’s that easy. Order foodpanda 2x today and we’ll drop $20 into your wallet straight away.<br> What are you waiting for?",
            img: "img/photo3.jpg"
        },
        {
            title: "Here's $20 credit...",
            desc: "when you make 2x foodpanda orders in one day. It’s that easy. Order foodpanda 2x today and we’ll drop $20 into your wallet straight away.<br> What are you waiting for?",
            img: "img/photo3.jpg"
        },
        {
            title: "Here's $20 credit...",
            desc: "when you make 2x foodpanda orders in one day. It’s that easy. Order foodpanda 2x today and we’ll drop $20 into your wallet straight away.<br> What are you waiting for?",
            img: "img/photo3.jpg"
        },
        {
            title: "Here's $20 credit...",
            desc: "when you make 2x foodpanda orders in one day. It’s that easy. Order foodpanda 2x today and we’ll drop $20 into your wallet straight away.<br> What are you waiting for?",
            img: "img/photo3.jpg"
        },
        {
            title: "Here's $20 credit...",
            desc: "when you make 2x foodpanda orders in one day. It’s that easy. Order foodpanda 2x today and we’ll drop $20 into your wallet straight away.<br> What are you waiting for?",
            img: "img/photo3.jpg"
        },
        {
            title: "Here's $20 credit...",
            desc: "when you make 2x foodpanda orders in one day. It’s that easy. Order foodpanda 2x today and we’ll drop $20 into your wallet straight away.<br> What are you waiting for?",
            img: "img/photo3.jpg"
        },
        {
            title: "Here's $20 credit...",
            desc: "when you make 2x foodpanda orders in one day. It’s that easy. Order foodpanda 2x today and we’ll drop $20 into your wallet straight away.<br> What are you waiting for?",
            img: "img/photo3.jpg"
        },
        {
            title: "Here's $20 credit...",
            desc: "when you make 2x foodpanda orders in one day. It’s that easy. Order foodpanda 2x today and we’ll drop $20 into your wallet straight away.<br> What are you waiting for?",
            img: "img/photo3.jpg"
        },
    ]