extends layouts/_layout
block variables
	- var title = 'FoodPanda'
	- var pageClass = ''



block content
	include ./carousel_data

	.main
		.container-fluid.hero.p-0
			.row.m-0
				.col.p-0
					.hero__video
						video#hero_video(loop, muted, autoplay)
							source(src="img/video.mp4", type="video/mp4")
					.container-fluid.hero__nav
						.row
							.col-6
								img.hero__logo_main(src="img/logo-nav.png")
							.col-6.hero__cta
								a.btn-primary--pink(href="#") bring the feast
					.hero__intro_wrapper
						.hero__logo_wrapper
							// img.img-fluid(src="img/panda-head.png")
							img.img-fluid(src="img/panda_head_animation.gif")
							#video_shape_trigger(style="position: relative; top: -200px;")
						.hero__text
							| 12 Deals of <br> Christmas
						img.hero__video_shape#video_shape(src="img/video-shape.png")
		
		
		#carousel_shape_trigger
		.container-fluid.section-1
			.container
				.row.d-flex.align-items-end
					.col-lg-6
						.text_wrapper.deal-12.isInView
							| Bring the feast this season with foodpanda's
							a(href="#", target="_blank").text-pink 12 Deals 
							| of Christmas.
					.col-lg-5
						.text_wrapper.deal-12-desc.isInView
							| Every day from Dec 13-25, we’ve got an awesome new deal to help make this the most delicious, simple and affordable season ever! It doesn’t matter how you celebrate – with family, friends, colleagues, at home, on the couch, in bed tktktktk – we’ve got the deals that’ll help you bring the feast. Tuck in!

		#carousel_trigger
		.container-fluid.section_style_1--carousel.position-relative.p-0
			.container-fluid
				.row
					.col.p-mobile-0
						.glide.carousel_wrapper#carousel_wrapper
							.glide__track(data-glide-el="track")
								ul.glide__slides(style="padding: 100px 0;")
									each val, index in carousel_data
										.glide__slide
											.carousel_wrapper__item
												.carousel_wrapper__img_wrapper
													img(src="img/photo3.jpg")
												.carousel_wrapper__desc_wrapper
													.carousel_wrapper__deal_number
														img.carousel_wrapper__gift(src="img/icon_gift.png")
														| Deal #{index + 1} of #{carousel_data.length}
													.carousel_wrapper__title #{val.title}
													.carousel_wrapper__desc
														| !{val.desc}
													.carousel_wrapper__code_wrapper
														| Use code: <br>
														div
															input(type="text", placeholder="XXXXXXX")
													.carousel_wrapper__btn_wrapper
														a.btn-primary--pink(href="#", target="_blank") bring the feast

							.glide_arrows(data-glide-el="controls")
								button.glide__arrow.glide__arrow--left#arrow_left(data-glide-dir="<")
									i.fa.fa-angle-left
								button.glide__arrow.glide__arrow--right#arrow_right(data-glide-dir=">")
									i.fa.fa-angle-right
							
							.carousel_wrapper__item_number 
								| Deal 
								span#item_number &nbsp;

			img.carousel_wrapper__shape#carousel_shape(src="img/shape2.png")

		.container-fluid.p-0
			.row.m-0
				.col-12.col-lg-6.p-0
					.zoom_wrapper
						.zoom_wrapper__img_wrapper.isInView(style="background-image: url(img/photo5-crop.png);")
							//img.img-fluid.isInView(src="img/photo5-crop.png")
				.col-12.col-lg-6.p-0
					.zoom_wrapper
						.zoom_wrapper__img_wrapper.isInView(style="background-image: url(img/photo7-crop.jpg);")
							//img.img-fluid.isInView(src="img/photo7-crop.jpg")
		#fav_trigger
		.container-fluid.section_style_1.position-relative
			.container
				.row
					.col
						.fav_food
							.fav_food__box1.offset-2.col-8.offset-lg-0.col-lg-5#fav_box1
								#fav_shape_trigger(style="position: relative; top: -700px;")
								span.fav_food__fontstyle_1
									| Your<br>favorite<br>
									span.text-pink food
									div.fav_food__fontstyle_2--mt-1 just a click away!
								div
									a.btn-outline--pink(href="#", target="_blank") check it now
							.fav_food__box2.offset-1.col-8.offset-lg-0.col-lg-5
								//img(src="//picsum.photos/id/1080/345/475")
							.fav_food__box3.offset-5.col-6.offset-lg-0.col-lg-4#fav_box3
								//img(src="//picsum.photos/id/1080/272/266")
							// .fav_food__box4
								img(src="//placehold.it/700x412")
			img.fav_food__shape#fav_shape(src="img/shape3.png")
		
		.container-fluid.section_style_1.mobile_section
			.container
				.row
					.col-5.col-lg-4.p-mobile-0
					.col-7.col-lg.p-mobile-0
						.mobile_text#mobile_text
							| Share your Christmas feast! Tag
							| #myfoodpandafeast on any social
							| platform.


		#mobile_shape_trigger(style="position:relative; top: -750px")
		.container-fluid.footer.position-relative
			.row.z-1.position-relative
				.col.footer_cell--right
					.container.p-0
						.row
							.col
								.clearfix
									ul.footer__icon
										li
											span.footer__title Find us on:
									ul.footer__icon--new
										li &nbsp;
										li
											a(href="https://www.facebook.com/FoodpandaThailand/", target="_blank")
												span.fa-stack.fa-1x.text-center
													i.fas.fa-circle.fa-stack-2x
													i.fab.fa-facebook-f
										li
											a(href="https://www.instagram.com/foodpandasg/?hl=en", target="_blank")
												span.fa-stack.fa-1x.text-center
													i.fas.fa-circle.fa-stack-2x
													i.fab.fa-instagram
										li
											a(href="https://m.me/FoodpandaThailand?fbclid=IwAR3Fz8yQ9-Ylqso7OyLdRjfQ_qlWKA9-ZCL1o58LscaCrq0N16CRtpn61vw", target="_blank")
												span.fa-stack.fa-1x.text-center
													i.fas.fa-circle.fa-stack-2x
													i.fas.fa-comments
									
								p.footer__website foodpanda.com
								//- p.footer__seo SEO copy placeholder
							.col-lg-4
								.clearfix
									ul.footer__icon
										li
											span.footer__title download the app
									ul.footer__icon--new.footer__button
										li
											a(href="https://play.google.com/store/apps/details?id=com.global.foodpanda.android&hl=en" target="_blank")
												img(src="img/google_play_store_badge_en.png")
										li
											a(href="https://apps.apple.com/th/app/foodpanda-food-delivery/id758103884" target="_blank")
												img(src="img/app_store_badge_en.png")
									div.footer_text_mini_wrapper
										p.footer__text_mini Apple, the Apple logo, iPhone and iPad are trademarks of Apple Inc., registered in the U.S. and other countries and regions. App store is a service mark of Apple Inc.
										p.footer__text_mini Google Play and the Google Play logo are trademarks of Google LLC.


				
			.row.mobile
				.col-5.position-relative
					.mobile_wrapper#mobile_wrapper
				.col-7
			img.footer__shape(src="img/shape4-alt.png", draggable="false")
			// img.footer__shape(src="img/shape4.png", draggable="false")
